<!--<article>-->
<!--  <img-->
<!--    class="listing-photo"-->
<!--    [src]="roomlocation?.photo"-->
<!--    alt="Exterior photo of {{ roomlocation?.photo }}"-->
<!--    crossorigin-->
<!--  />-->
<!--  <section class="listing-description">-->
<!--    <h2 class="listing-heading">{{ roomlocation?.roomLocation }}</h2>-->
<!--    <p class="listing-location">{{roomlocation?.roomPrice }}, {{roomlocation?.roomStatus  }}</p>-->
<!--  </section>-->
<!--  <section class="listing-features">-->
<!--    <h2 class="section-heading">About this housing location</h2>-->
<!--    <ul>-->
<!--      <li>Units available: {{roomlocation?.roomStatus  }}</li>-->
<!--      <li>Does this location have wifi: {{roomlocation?.roomType }}</li>-->
<!--      <li>Does this location have laundry: {{roomlocation?.roomType}}</li>-->
<!--    </ul>-->
<!--  </section>-->
<!--  <section class="listing-apply">-->
<!--    <h2 class="section-heading">Book To Stay</h2>-->
<!--    <form [formGroup]="addForm" (ngSubmit)="submitApplication()">-->

<!--      <label for="startDate">StartDate</label>-->
<!--      <input id="startDate" type="date" formControlName="startDate" />-->

<!--      <label for="endDate">endDate</label>-->
<!--      <input id="endDate" type="date" formControlName="endDate" />-->

<!--      <button type="submit" class="primary">Reserve Room</button>-->
<!--    </form>-->

<!--  </section>-->
<!--</article>-->
<article>
  <!--  <img-->
  <!--    class="listing-photo"-->
  <!--    [src]="roomlocation?.photo"-->
  <!--    alt="Exterior photo of {{ roomlocation?.photo }}"-->
  <!--    crossorigin-->
  <!--  />-->
  <section class="listing-description">
    <h2 class="listing-heading"></h2>
    <p class="listing-location"></p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available:</li>
      <li>Does this location have wifi:</li>
      <li>Does this location have laundry</li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Book To Stay</h2>
    <form [formGroup]="addForm" (ngSubmit)="submitApplication()">
      <label for="startDate">StartDate</label>
      <input id="startDate" type="date" formControlName="startDate" [min]="minDate.toISOString().slice(0, 10)" />

      <label for="endDate">endDate</label>
      <input id="endDate" type="date" formControlName="endDate" [min]="minDate.toISOString().slice(0, 10)" />

      <button type="submit" class="primary">Reserve Room</button>
    </form>
  </section>
</article>
